.Dictionary section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #dddddddd;
  border-radius: 6px;
  color: rgb(49, 49, 49);
}
